
	   #myheader {height: 70px; width: 1150px;background-color: #80ff00; margin-left: 111px;text-align: center;}
	   #myphoto  {height: 250px; width: 1150px;background-color: lightgreen;margin-left: 111px;}
	   .menu-wrap {height: 45px; width: 1150px;margin-left: 111px; background-color: #274257;} 
	   #section1 {height: 800px; width: 1150px;background-color: lightblue; margin-left: 111px;text-align: justify;font-size: 22px;}
	   .head {font-weight: bold; font-size: 30px;text-align: center;text-decoration: underline;}
	   #myfooter {height: 50px; width: 1150px;background-color: red;margin-left: 111px;text-align: center;}